<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp">

    <application
        android:name=".notificationBuilder"
        android:allowBackup="true"
        android:icon="@drawable/logo_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".order_completed_lab_forLab"></activity>
        <activity android:name=".order_completed_pharma" />
        <activity android:name=".order_completed_lab" />
        <activity android:name=".customer_lab_booking" />
        <activity android:name=".lab_order_detail" />
        <activity android:name=".view_available_test" />
        <activity android:name=".classes.complaintDetail" />
        <activity android:name=".classes.viewComplains" />
        <activity android:name=".generateComplaint" />
        <activity android:name=".reset_password" />
        <activity android:name=".view_prescription" />
        <activity android:name=".order_completed" />
        <activity android:name=".pharmacy_details" />
        <activity android:name=".live_chat_pharma" />
        <activity android:name=".nointernet" />
        <activity android:name=".signup" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".pharmacy_prescription_upload" />
        <activity android:name=".order_accepted_lab" />
        <activity android:name=".searching_lab" />
        <activity android:name=".customer_book_test" />
        <activity android:name=".lab_order_in_progress" />
        <activity android:name=".lab_price_order" />
        <activity android:name=".order_request_page_lab" />
        <activity android:name=".buy_requests_lab" />
        <activity android:name=".dashboard_notif_lab" />
        <activity android:name=".lab_status" />
        <activity android:name=".dashboard_lab" />
        <activity android:name=".live_chat" />
        <activity android:name=".customer_order_processed" />
        <activity android:name=".customer_custom_request" />
        <activity android:name=".pharmacy_order_in_progress" />
        <activity android:name=".pharmacy_price_order" />
        <activity android:name=".order_request_page" />
        <activity android:name=".Buy_Requests" />
        <activity android:name=".dashboard_notif" />
        <activity android:name=".pharmacy_status" />
        <activity android:name=".dashboard_pharmacy" />
        <activity android:name=".order_accepted" />
        <activity
            android:name=".searching_deliverer"
            android:label="@string/title_activity_searching_deliverer" />
        <activity android:name=".upload_prescription" />
        <activity android:name=".dashboard" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_Screen" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fyp.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_list" />
        </provider>

        <receiver
            android:name=".booking_alarm"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".delivery_alarm_manager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".five_mins_alarm_manager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SendNotificationPack.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".SendNotificationPack.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".timeRunnerService" />
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>